*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
  
}
section{
    margin-bottom: 100px;
}

/* bannaer section */
@keyframes background {
   0%{
      background: url(images/donate.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

   }
   50%{
      background:   url(images/pray.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   100%{
      background: url(images/jongle.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

   }
   
}
 #bannar-section{
   padding: 18%;
    animation: background 4s ease .2s infinite forwards  ;  
   background: url(images/hat.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
 }
 
 .banner-head h1{
font-size: 50px;
margin-bottom: 5px;
letter-spacing: 2px;
 }
 .banner-head P{
    line-height: 28px;
    word-spacing: 4px;
    
 }
 .donate-btn{
    background-color:coral;
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px 0;
    border: none;

 }
 .donate-btn:hover{
    background-color: rgb(92, 48, 32);
    color: white;
    transition: 2s;

 }
 #donation-section{
     display: flex;
     padding: 0 10%;
     margin: 5%;

 }
 .left-side{
  width: 50%;
 }
 .left-side h2{
    font-size: 30px;
    margin-bottom: 10px;
 }
 .left-side p{
    line-height: 27px;
    word-spacing: 4px;
     
 }
 .right-side{
width: 50%;
 }
 .right-side img{
    width: 100%;
    
    
 }

 /* serviv-section */
#servive-section{
    display: flex;
    padding: 0 10%;
}
  .left-side img{
    width: 90%;
    height: 110%;
  }
  .right-side h2{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .right-side p{
    line-height: 27px;
    word-spacing: 4px;
     
  }

  /* lives depends section design  */

  #lives-depend-section{

  }
  .lives-depend-head{
    margin: auto;
    width: 40%;
     text-align: center;
  }
  .lives-depend-head h3{
     font-size: 30px;
     margin-bottom: 10px;
  }
  .lives-depend-head p{
         line-height: 20px;
         margin-bottom: 10px;
  }
  .lives-depend-card{
 display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0 20%;
  gap: 20px;
 /* margin: auto;
 padding:0 10%; */
  }
  .lives-depend-singlebox{
       background:#FEF4F5 ;
      width: 100%;
       
      border-radius: 4px;
  }
  .lives-singlbox-desc{
    display: flex;
    padding: 30px;
  }
  .box-leftside-icon {
  padding: 10px;
  font-size: 30px;
  color: red;
 
  }
  .box-rightside-desc h4{
    font-size: 20px;
  }

  /* prayer section design */
  #prayer{
   display: flex;
    margin: 0 20px;
    margin-bottom: 100px;
    padding: 0 20%;
  }
  .prayer-card{
  
  }
  .prayer-card img{
   width: 80%;
   height: 100%;
   border-radius: 10px;
  }
 

  /* rewards section design  */

 .rewards-section-header{
     text-align: center;
     width: 50%;
     margin: auto;
 }
 .rewards-section-header h3{
   font-size: 30px;
   margin-bottom: 10px;
 }
 .rewards-section-header p{
   margin-bottom: 10px;
   word-spacing: 2px;
   line-height: 20px;
 }
 .rewards-card{
     display: flex;
     padding: 0 20%;
   
 
 }
 .rewards-singlebox{
      padding: 10px;
      margin: 10px;
      box-shadow: inset -1px 1px 5px 0px #bdafafe3;
 }
 .rewards-singlebox-img{

 }
 .rewards-singlebox-img img{
   width: 100%;
 }

 .rewards-singlebox-title h5{
   font-size: 20px;
 }
 a{
   color: rebeccapurple;
 }

 footer{
   background-color: black;
     text-align: center;
     padding: 20px;
 }

 footer p{
         color: red;
         font-style: oblique;
 }
 footer span{
   color: white;
 }